@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center align-items-center">
    
    <div class="col-8">
        <h1 class="display-4">Human</h1>
        <h1 class="display-4">stories & ideas</h1>
        <h1 class="display-6">A place to read, and deepen your understanding</h1>
        <a asp-area="Admin" asp-controller="Article" asp-action="Index"><button class="btn btn-dark">Start Reading</button></a>

    </div>
    <div class="col-4 d-flex justify-content-end">
        <img src="~/img/evolve.webp" width="1000px" height="770px"/>
    </div>
</div>
